.app{
  display: flex;
  width: 960px;
}
.shape{
  width: 200px;
  height: 200px;
  background-color: rgb(177, 31, 31);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
}